/* test info .. show id of relevant span if we are using this style sheet */
.test .css-info span#large::before {content: attr(id);}


#menu-toggle {display:none;}
/* #menu {background:#333;margin:2px;position:absolute;right:0;bottom:0;} */
#header-menu.hidden, #header-menu.visible {display:block}
 


.menu {position:relative;margin:-1.5em 0 0 0;padding:0;}
.menu ul {margin:1px;padding:0 0.5em;list-style: none;float:right;}
.menu li {display:inline-block;}
.menu li a 
{
	display:inline-block;
	text-align: center;
	padding:1em;
	background: #ddd;
	border-radius: 1em;
	min-width: 4em;
	color:#333;
	text-decoration: none;
}
